*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}
body{
  font-family: Roboto;
}
.container{
  margin: 0 auto;
  padding: 30px;
}
.button{
  background-color: goldenrod;
  border-radius: 12px;
  height: 2rem;
  width: 4rem;
}
.button a{
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: black;
}
.button a:hover{
  color: #efdc0b;
}

/* NAVBAR  */
.navbar{
  background-color: #1f2937;
  height: 60px;
}
.navbar .logo{
  color: #f9faf8;
  font-size: x-large;
  font-weight: bold;
}
.navbar .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-right: 150px;
  margin-left: 150px;
}
.navbar a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.navbar a:hover{
  color: #efdc0b;
}
.navbar ul{
  display: flex;
}
.navbar ul li{
  margin-left: 20px;
}
ul{
  list-style-type: none;
}

/* HEADER */
.header{
  background-color: #1f2937;
 }
.header .container{
  color: white;
  display: flex; 
  height: 400px;  
  flex: 1;
  margin-left: 150px;
  margin-right: 50px;
  font-weight: 900;
}
.header .container h1{
  font-size: 48px;
}
.header .container div{
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: space-around;
}
.header .container div p{
  width: 400px;
  font-size: 18px;
}
.header .container img{
  height: 300px;
  width: 800px;
  margin-left: 50px;  
}

/* IMAGE-BOXES */
.image-boxes{
  background-color: goldenrod;
}
.image-boxes .container{
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding: 30px;
}
.image-boxes .container h2{
  font-size: 36px;
  font-weight: 900;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.image-boxes .container .box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-boxes .container .box img{
  border: solid 3px;
  height: 200px;
  width: 200px;
  border-radius: 10px;
}
.image-boxes .container .box p{
  text-align: center;
  margin-top: 10px;
}

/* QUOTE */
.quote{
  background-color: #e5e7eb;
}
.quote .container{
  display: flex;
  height: 400px;
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
  justify-content: center;
  align-items: center;
  margin-left: 350px;
  margin-right: 150px;
}
.quote .container h4{
  align-self: flex-end;
}

/* ACTION-CALL */
.action-call{
  height: 400px;
}
.action-call .container{
  display: flex;
  background-color: #3882f6;
  width: 1400px; 
  color: white;
  flex-direction: column;
  padding: 50px;
  align-items: flex-start;  
  margin: 200px;
  border-radius: 15px;
}
.action-call .container h2{
  margin-left: 200px;
}
.action-call .container p{
  margin-left: 200px;
}
.action-call .container .button{
  align-self: flex-end;
  width: 150px;
  margin-right: 250px;
}
.footer{
  background-color: #1f2937;
}
.footer .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}